* @henriktre @glenn-terjesen

/guides/platform/   @entur/team-plattform
/plugins/bootstrap/  @entur/team-plattform
/plugins/cicd-workflows/ @entur/team-plattform
/skills/setup-cicd-workflows/    @entur/team-plattform
